
body {
    margin: 0;
    padding: 0;
    background-image: url("../images/background8.png"); 
    background-size: contain;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center;
}



.container {
    text-align: center;
    color: #a72879;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center 
}

h1 {
    color: #a72879;
    padding-top: 120px;
}

h2 {
    color: #a72879;
    padding-top: 5px;
}

textarea {
    background-color: #f2f2f2;
    color: #333;
  }

a {

    padding-top: 5px;
    color: #9171db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a {
    padding-top: 3px;
    color: #9171db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}