<!DOCTYPE html>
<html>
<head>

    <title>Voice Note</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styletestaudio.css') }}" type="text/css">

</head>
<body>

    <div class="container">

        <h1>Download Your Voice Note</h1>
        <audio controls>
            <source src="{{ audio_file }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <a class="download-link" href="{{ url_for('download', file=audio_file) }}" download>Download Speech</a>
        <a href="/">Upload another photo</a>

    </div>
</body>
</html>
